<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="PersonalFeed" value="https://pkgs.dev.azure.com/Jeevox/Personal/_packaging/Jeevox/nuget/v3/index.json" />
    </packageSources>
  <packageSourceCredentials>
    <Jeevox>
        <add key="Username" value="PersonalFeed" />
        <add key="ClearTextPassword" value="cjngslvphbo4ziy2gjmj5p5he6piasprxbku7hvft4lputjf6nga" />
        <add key="ValidAuthenticationTypes" value="basic" />
      </Jeevox>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="PersonalFeed" value="true" />
  </disabledPackageSources>
</configuration>
